.project-wrapper {
  line-height: 1em;
  padding-bottom: .5em;
  border-bottom: 5px dotted black;
}

.project-img {
  max-width: 100%;
  padding-top: 1em;
}

@media screen and (min-width: 450px ) {

  .wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
  .masthead,
  .info {
      text-align: left;
    }
}
