body {
  font-family: sans-serif;
  background: #d9ede3;
  font-size: 1.2em;
  padding: 1em;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #E198B2;
}

.hello-block {
  padding-top: 1em;
}

.masthead {
  line-height: .3em;
  text-align: center;
}

.info,
.projects-h1 {
  text-align: center;
}

.hello-block,
#project-list,
.get-bord {
  border-bottom: 5px dotted black;
}

.masthead a {
  font-size: 2em;
  font-weight: 800;
}

.masthead p {
  line-height: .1em;
  font-size: 1.25em;
}

.masthead,
.info {
  list-style: none;
  padding: 0;
}

.info {
  font-size: 1.25em;
  color: black;
}

#projects p {
  color: #3d3d3d;
  line-height: 1.3;
}

#project-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#project-list a {
  margin: 1em;
  padding: .25em;
  text-shadow: 2px 2px #EEC3D2;
}

img {
  max-width: 100%;
}

h4 {
  line-height: 1em;
}

/* footer {
  text-align: center;
} */

@media screen and (min-width: 450px ) {

.wrapper {
  max-width: 850px;
  margin: 0 auto;
}

.masthead,
.info {
  text-align: left;
  }
}
