body {
  font-family: sans-serif;
  background: #d9ede3;
  padding: 1em;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: red;
}

.hello-block {
  border-bottom: 5px dotted black;
}

.masthead a {
  font-size: 2em;
  font-weight: 800;
}

.masthead p {
  line-height: .1em;
  font-size: 1.25em;
}

.info {
  font-size: 1.25em;
  color: black;
  list-style: none;
  padding: 0;
}

.projects {
  border-bottom: 5px dotted black;
}

.projects h1, h2, h3 {
  color: black;
}

.projects li {
  list-style: none;
  line-height: 1rem;
}

footer {
  display: flex;
  align-items: center;
  margin-top: .5em;
}
